/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .register {
    position: relative;
    bottom: 0px;
    margin: 0 0 -30px auto !important;
  }
  small {
    position: relative;
    top: 20px !important;
    right: 40px !important;
  }
}

/* KHUSUS Content */
@media (min-width: 321px) and (max-width: 375px) {
  small {
    position: relative;
    padding-bottom: 30px;
    top: 55px !important;
    right: 95px !important;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .register {
    margin-bottom: -35px !important;
  }
  small {
    position: relative;
    padding-bottom: 30px;
    top: 55px !important;
    right: 145px !important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .boody {
    background: rgb(206, 206, 206) !important;
    height: 110% !important;
    /* background: none; */
  }
  .image img {
    position: relative;
    left: 10%;
  }
  .register {
    margin: 20px 0 -40px 3% !important;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .all {
    margin: 10px 0 -90px 5% !important;
  }
  small {
    top: 10px !important;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .all {
    margin: 50px 0 -75px 5% !important;
  }
}

.boody {
  height: 100vh;
  background: rgb(206, 206, 206);
}
.register {
  margin: 0px 0 0 auto;
  padding: 30px;
  background: rgb(206, 206, 206);
}
.image {
  background-color: white;
}
.image img {
  position: relative;
  top: 50% !important;
}
.innput {
  background-color: white;
  padding: 50px;
}
.form-control {
  margin: 0;
}
p {
  font-size: 10px;
}
.image h1 {
  position: relative;
  top: 7%;
  left: 2%;
  color: blue;
  font-family: Domine, sans-serif;
}
.image p {
  position: relative;
  top: 4%;
  left: 3%;
  color: rgb(44, 116, 199);
  font-family: viga, sans-serif;
}
.icon {
  position: relative;
}

.icon .fa-user,
.icon .fa-envelope-open,
.icon .fa-key {
  color: rgb(35, 35, 255);
  top: 10px;
  left: 5px;
  position: absolute;
}
.icon .fa-user {
  font-size: 20px;
}

.form-control {
  padding-left: 25px;
  color: rgb(0, 0, 0);
}

small {
  float: right;
  position: relative;
  top: 10px;
}
