/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 

 }

/* KHUSUS Content */
@media (min-width: 321px) and (max-width: 375px) {
    .in-title{
        width: 100%;
    }
    .in-title-icon{
        width: 100%;
    }
    .desc img{
        position: relative;
        left: 8%;
    }
  }
  @media (min-width: 376px) and (max-width: 425px) {
    .in-title{
        width: 100%;
    }
    .in-title-icon{
        width: 100%;
    }
    .desc img{
        position: relative;
        left: 10%;
    }
  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .in-title{
        width: 100%;
    }
    .in-title-icon{
        width: 100%;
    }
    .desc{
        position: relative;
        bottom: 200px;
    }
    .desc img{
        position: relative;
        left: 30%;
    }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .twoo{
        margin: 50px 0 0 80px;
    }
    .desc img{
        margin-top: 40px;
    }

 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .twoo{
        margin-left: 70px;
    }
    body{
        background: none !important;
        }
 }

 .desc{
    font-family: 'Viga', sans-serif;
 }
 .in-title,.in-title-icon{
     color: rgb(93, 91, 91);
     font-weight: 100;
 }
 .in-title-icon{
    font-size: 12px;
}
img{
    margin-top: 10px;
}