/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .panel{
        /* background: red; */
        width: 80%;
        background: white;
        box-shadow: 0.5px 0.5px 3px grey;
        margin-top: -70px;
        border-radius: 5px;
        /* margin-bottom: 200px; */
    }
    .panel .one,.two,.three,.four{
        text-align: center;
        padding: 0;
        position: relative;
        /* left: 32%; */
    }
    .panel a{
        padding: 0px 5px;
        font-size: 10px;
    }
    .text-panel{
        position: relative;
        left: auto;
        text-align: center;
        margin: 10px 0px 0 0;
        font-size: 12px;
        color: grey;
    }
}

/* KHUSUS Panel */
@media (min-width: 321px) and (max-width: 375px) {
    .panel .one p,.two p,.three p,.four p{
        left: 25%;
        position: relative;
    }
    .text-panel p{
        width: 100%;
    }
  }
  @media (min-width: 376px) and (max-width: 425px) {
    .panel .one p,.two p,.three p,.four p{
        left: 25%;
        position: relative;
    }
    .text-panel p{
        width: 100%;
    }
  }


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .panel{
        /* background: red; */
        background: white;
        box-shadow: 0.5px 0.5px 3px grey;
        margin-top: -100px;
        text-align: center;
        padding-top: 10px;
        margin-bottom: 200px;
        border-radius: 5px;
    }
    .panel a{
        padding: 0px 5px;
        font-size: 10px;
    }
    .panel .end a{
        float: right;
    }
    .text-panel{
        text-align: center;
        font-size: 12px;
        color: grey;
    }
    .panel .one img{
        width: 35% !important;
    }
    .panel img{
        width: 25% !important;
    }
    .text-panel p{
        width: 100%;
        font-size: 10px;
    }
    /* .panel .one{
        margin-left: -20px;
    } */
    .panel .one,.two,.three,.four{
        width: 24%;
        padding: 0;
    }
    .panel .one p,.two p,.three p,.four p{
        position: relative;
        left: 30%;
    }    
    .four p{
        width: 50% !important;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .panel{
        /* background: red; */
        background: white;
        box-shadow: 0.5px 0.5px 3px grey;
        margin-top: -120px;
        padding: 10px 0 0 80px;
        border-radius: 5px;
    }
    .panel a{
        padding: 0px 5px;
        font-size: 10px;
    }
    .text-panel{
        text-align: center;
        margin: 0px 100px 0 0;
        font-size: 12px;
        color: grey;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .panel{
        /* background: red; */
        background: white;
        box-shadow: 0.5px 0.5px 3px grey;
        margin-top: -120px;
        padding: 10px 0 0 80px;
        margin-bottom: 50px;
        border-radius: 5px;
    }
    .panel a{
        padding: 0px 5px;
        font-size: 10px;
    }
    .text-panel{
        text-align: center;
        margin: 0px 100px 0 0;
        font-size: 12px;
        color: grey;
    }
}
.one p{
    color: red !important;
}
.two p{
    color: green;
}
.three p{
    color: blue;
}
.four p{
    color: brown;
}

