/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .register {
    position: relative;
    bottom: 0px;
    margin: 0 0 -30px auto !important;
  }
  .small-login {
    position: relative;
    top: 16px !important;
    right: 16px !important;
  }
}

/* KHUSUS Content */
@media (min-width: 321px) and (max-width: 375px) {
  .small-login {
    position: relative;
    top: 15px !important;
    right: 16px !important;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .register {
    margin-bottom: -35px !important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  body {
    /* background: rgb(206, 206, 206); */
  }
  .small-login {
    float: right !important;
    position: relative;
    top: -25px !important;
    right: 0px !important;
  }
  .image img {
    position: relative;
    left: 10%;
  }
  .register {
    margin: 20px 0 -40px 3% !important;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .all {
    margin: 10px 0 -65px 5%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .all {
    margin: 50px 0 -50px 5%;
  }
}

.boody {
  height: 100vh;
  background: rgb(206, 206, 206);
}
.register {
  margin: 0px 0 0 auto;
  padding: 30px;
  background: rgb(206, 206, 206);
}
.image {
  background-color: white;
  padding-bottom: 70px;
}
.image img {
  position: relative;
  top: 50% !important;
}
.innput {
  background-color: white;
  padding: 50px;
}
.form-control {
  margin: 0;
}
.form-control {
  margin: 20px 0 0 0;
}
.e-mail {
  margin: 30px 0 0 0;
}
p {
  font-size: 10px;
}
.image h1 {
  position: relative;
  top: 7%;
  left: 2%;
  color: blue;
  font-family: Domine, sans-serif;
}
.image p {
  position: relative;
  top: 4%;
  left: 3%;
  color: rgb(44, 116, 199);
  font-family: viga, sans-serif;
}
.icon {
  position: relative;
}

.icon .fa-user,
.icon .fa-envelope-open,
.icon .fa-key {
  color: rgb(35, 35, 255);
  top: 10px;
  left: 5px;
  position: absolute;
}
.icon .fa-user {
  font-size: 20px;
}

.form-control {
  padding-left: 25px;
  color: rgb(0, 0, 0);
}

.small-login {
  float: none;
  position: relative;
  top: 30px;
  right: 18px;
}
