/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .imagee img{
        position: relative;
        left: 8%;
        width: 80%;
        /* box-shadow: 1px 1px 6px grey; */
        margin: auto;
        border-radius: 10px;
        margin-top: 50px;
    }
    .text{
        margin-top: 20px;
    }
    .btn-sans{
        padding: 0px 5px;
        font-size: 10px;
    }
    .btn-os{
        margin-right: 10px;
        padding: 15px;
    }
    .on-title{
        font-size: 20px;
        font-weight: 10 !important;
    }
    .onn-title{
        color: grey;
    }
    h5{
        color: rgb(25, 137, 241);
        font-size: 24px;
    }
    h2{
        font-size: 36px;
    }
    .inn-title{
        font-size: 20px;
        font-weight: 1;
        color: rgb(129, 120, 120);
    }
 }

/* KHUSUS Content */
@media (min-width: 321px) and (max-width: 375px) {
    .text h5, .text h2, .text p{
        width: 100%;
     }
     .oni-title{
        position: relative;
        left: 15%;
        top: -15px;
     }
  }
  @media (min-width: 376px) and (max-width: 425px) {
    .text h5, .text h2, .text p{
        width: 100%;
     }
     .oni-title{
        position: relative;
        left: 15%;
        top: -15px;
     }
  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .imagee img{
        position: relative;
        /* float: right; */
        left: 40%;
        width: 40%;
        /* box-shadow: 1px 1px 6px grey; */
        margin: auto;
        border-radius: 10px;
        margin-top: -50px;
    }
    .text h5, .text h2, .text p{
        width: 100%;
     }
    .oni-title{
        position: relative;
        left: 15%;
        top: -15px;
     }
    .text{
        margin-top: -150px;
    }
    .btn-sans{
        padding: 0px 5px;
        font-size: 10px;
    }
    .btn-os{
        margin-right: 10px;
        padding: 15px;
    }
    .on-title{
        font-size: 20px;
        font-weight: 10 !important;
    }
    .onn-title{
        color: grey;
    }
    h5{
        color: rgb(25, 137, 241);
        font-size: 24px;
    }
    h2{
        font-size: 36px;
    }
    .inn-title{
        font-size: 20px;
        font-weight: 1;
        color: rgb(129, 120, 120);
    }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .twoDesc{
        margin-left: 50px;
    }
    
    .imagee img{
        position: relative;
        left: 30%;
        width: 60%;
        /* box-shadow: 1px 1px 6px grey; */
        /* transform: skew(0deg, -3deg); */
    }
    .imagee,.text{
        margin-top: 20px;
    }
    .btn-sans{
        padding: 0px 5px;
        font-size: 10px;
    }
    .btn-os{
        margin-right: 10px;
        padding: 15px;
    }
    .on-title{
        font-size: 20px;
        font-weight: 10 !important;
    }
    .onn-title{
        color: grey;
    }
    h5{
        color: rgb(25, 137, 241);
        font-size: 24px;
    }
    h2{
        font-size: 36px;
    }
    .inn-title{
        font-size: 20px;
        font-weight: 1;
        color: rgb(129, 120, 120);
    }
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .twoDesc{
        margin-left: 100px;
        margin-top: -100px;
    }
    
    .imagee img{
        width: 50%;
        /* box-shadow: 1px 1px 6px grey; */
        /* transform: skew(0deg, -3deg); */
    }
    .imagee{
        position: relative;
        right: -100px;
    }
    .imagee,.text{
        margin-top: 120px;
    }
    .btn-sans{
        padding: 0px 5px;
        font-size: 10px;
    }
    .btn-os{
        margin-right: 10px;
        padding: 15px;
    }
    .on-title{
        font-size: 20px;
        font-weight: 10 !important;
    }
    .onn-title{
        color: grey;
    }
    h5{
        color: rgb(25, 137, 241);
        font-size: 24px;
    }
    h2{
        font-size: 36px;
    }
    .inn-title{
        font-size: 20px;
        font-weight: 1;
        color: rgb(129, 120, 120);
    }

 }

 /* Semua Version */


 h5, h2, p{
    font-family: 'Viga', sans-serif;
}